.sidebar {
    width: 15%;
    min-width: 120px;
    padding: 24px;
    height: 400px;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(91, 93, 92); */
    background-color:  rgb(71, 71, 71);
  }
  
  .title {
    font-weight: 600;
    line-height: 20px;
  }
  
  .menu {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

/* ================= */
  
  .link {
    color: white;
    font-size: 18px;
    line-height: 17px;
    text-transform: capitalize;
    text-decoration-line: none
  }
  
  .link:hover {
    color: rgb(171, 234, 146);
  }
  
  .link.active {
    color: violet;
  }
  
  .footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
  }