.sidebar {
    width: 15%;
    min-width: 160px;
    padding: 24px;
    height: 423px;
    display: flex;
    flex-direction: column;
    background-color: rgb(135, 149, 145);
  }
  
  .title {
    font-weight: 600;
    line-height: 20px;
  }
  
  .menu {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

/* ================= */
  
  .link {
    color: rgb(70, 19, 3);
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    text-decoration-line: none
  }
  
  .link:hover {
    color: white;
  }
  
  .link.active {
    color: violet;
  }
  
  .footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
  }